@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #171717;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);





}

/* semantic color variables for this project */
:root {

  --sidebar-background:#888;

  --body-background: #ccc;

  --card-background: white;
  --card-border: #ddd;
  --card-shadow:rgba(0,0,0,0.4);

  --modal-background: #ddd;
  --modal-border1:rgb(255, 97, 97);
  --modal-border2:rgb(201, 201, 201);

  

  --flavor-background: rgba(155,155,170, 0.25);
  --flavor-popout:  rgb(205, 205, 205);

  
  --stat-background:rgb(230,230,235);
  --stat-border: rgb(132,130,140);


  --type-text:rgb(255, 255, 255);

  
  --text-main:rgb(69, 69, 69);
  --text-sub:rgb(100, 100, 100);


  --title-font:"Roboto", sans-serif;
  --text-font:"Montserrat", sans-serif;


  color:var(--text-main);

}

@media (prefers-color-scheme: light) {
 

  .filter-open-btn{
    filter: invert(100%);
    
}

}

@media (prefers-color-scheme: dark) {
  :root {
  
    --sidebar-background:black;

    --body-background: #111;

    --card-background: #222;
    --card-border: #333;
    --card-shadow:rgba(0,0,0,0.4);
  
    --modal-background: #333;
    --modal-border1:rgb(255, 97, 97);
    --modal-border2:rgb(201, 201, 201);
  
  
    
  
    --flavor-background: #555;
    --flavor-popout: #555;
  
    
    --stat-background:#666;
    --stat-border: #777;
  
  
    --type-text:rgb(255, 255, 255);
  
    
    --text-main:rgb(235, 235, 235);
    --text-sub:rgb(83, 83, 1083);

  }

  .filter-open-btn{
    filter: contrast(800%);
    
}

}




*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.base-btn{
  cursor: pointer;
}

.hp{background-color: #f583b3;}
.attack{ background-color:#f4b994 }
.special-attack{ background-color: #ee9b69;}
.speed{ background-color: #d1dbe2;}
.defense{ background-color:  #b3dcd1;}
.special-defense{ background-color: #7fbeaf}


.normal{
  background-color: #b3b3a4;
}
.fire{
  background-color: #ff4422;
}
.water{
  background-color: #3399ff;
}
.electric{
  background-color: #ffcc33;
}
.grass{
  background-color: #77cc55;
}
.ice{
  background-color: #66ccff;
}
.fighting{
  background-color: #bb5544;
}
.poison{
  background-color: #aa5599;
}
.ground{
  background-color:#ddbb55;
}
.flying{
  background-color: #8899ff;
}
.psychic{
  background-color: #ff5599;
}
.bug{
  background-color: #aabb22;
}
.rock{
  background-color: #bbaa66;
}
.ghost{
  background-color: #6666bb;
}
.dragon{
  background-color: #7766ee;
}
.dark{
  background-color: #775544;
}
.steel{
  background-color: #aaaabb;
}
.fairy{
  background-color: #ee99ee;
}


.type-btn{
  position: relative;
  border-radius: 20px;
  min-width:75px;
  height:28px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .50) inset;
  background-image: linear-gradient(180deg, rgba(0,0,0,0%), rgba(0,0,0,25%));
}

.type-btn::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  border-radius: 20px;
  width:100%;
  height:100%;

}
.type-btn:hover{
  cursor: default;
}
.wide-btn{
  width:125px;
}

.type-btn p{
  text-align: center;
  vertical-align: middle;
  font-family: var(--text-font);
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 12px;
  color: var(--type-text);
  text-transform:uppercase;
  text-shadow: 1px 1px 1px black;
}


.fa-center { 
  line-height: inherit!important; vertical-align: middle; 
}

.pokeball-btn {
  background: none;
  border:none;
  height:32px;
  width:32px;
}

.not-caught{
  filter: grayscale(100%);
}

.caught{
  filter: grayscale(0%);
}

.pokeball-btn:hover img{
  cursor: pointer;
}

.star-btn{
  font-size: 32px;
  text-align: center;
  line-height: 32px;
  color:black;
  background: none;
  border:none;
  height:32px;
  width:32px;
}

.star-btn:hover{
  color:gold;
}

.star-btn:hover{
  cursor: pointer;
}

.favourite{
  filter: brightness(200%);
  color:gold;
  -webkit-text-stroke: 2px rgba(0, 0, 0, .50);
}
.close-btn{
  font-size: 32px;
  text-align: center;
  line-height: 32px;
  color:rgba(50, 50, 50, 1);
  background: none;
  border:none;
  height:32px;
  width:32px;
}

.close-btn:hover{
  color:black;
}

.close-btn:hover{
  cursor: pointer;
}

.I{
  background-image: linear-gradient(135deg, #FF0000FF 39%, #FFFC00FF 50%, #073AFFFF 62%);
}
.II{
  background-image: linear-gradient(135deg, #FFC200FF 39%, #00FFF7FF 50%, #C0C0C0FF 62%);
}
.III{
  background-image: linear-gradient(135deg, #FF0000FF 39%, #20FF00FF 50%, #10008DFF 62%);
}
.IV{
  background-image: linear-gradient(135deg, #E7F8FFFF 39%, #7E7E7EFF 50%, #FFCAEEFF 62%);
}
.V{
  background-image: linear-gradient(135deg, #4B4B4BFF 25%, #BEBEBEFF 75%);
}
.VI{
  background-image: linear-gradient(135deg, #86B5FFFF 25%, #FA5757FF 75%);
}
.VII{
  background-image: linear-gradient(135deg, #FF8200FF 0%, #FFC386FF 25%, #A843F7FF 75%, #6102AFFF 100%);
}
.VIII{
  background-image: linear-gradient(135deg, #00CDFFFF 25%, #AF022CFF 75%);
}
.IX{
  background-image: linear-gradient(135deg, #FF00F1FF 25%, #AF0202FF 75%);
}